PORT=5000
NODE_ENV=development
ALLOWED_ORIGIN=http://localhost:3000
SUPABASE_URL=https://ozcttsokgyscukrdgxfp.supabase.co
# SUPABASE_ANON_KEY=
# RESEND_API_KEY=
EMAIL_FROM="Dundee Movers <bookings@dundeemovers.co.uk>"
NOTIFICATION_EMAIL="dundeemovers@gmail.com"
REPLY_TO_EMAIL="dundeemovers@gmail.com"
CRM_ACCESS_KEY="YourSecurePasskeyHere!"
CRM_JWT_SECRET="YourJwtSecretHere"
